
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>

<br>

<br>
<br>


<br>
<br>
<br>

<div class = "scrollblock" >
<div id = "center">
<h1>ATX Tech</h1>



<h2>Sign Up for An Account</h2>

<p> If you would like to add your company to the website, please sign up for an account below. </p>
</div>
</div>
<div class = "formclass">
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors resource %>
  <%= f.input :name, :autofocus => true %>
  <%= f.input :email, :required => true %>
  <%= f.input :password, :required => true %>
  <%= f.input :password_confirmation, :required => true %>
  <%= f.button :submit, 'Sign up', :class => 'btn-primary' %>
<% end %>
<p> Already have an account? <%= link_to "Sign In.", "users/sign_in" %> </p>
</div>


$(window).scroll(function () {
   $('[class="formclass"]').each(function () { // <---loop the divs id starts with #box 
      if (($(this).offset().top - $(window).scrollTop()) < 20) { //<---mark the $(this).offset().top of current object
          $(this).stop().fadeTo(100, 0); //<----fadeOut the current obj
      } else {
          $(this).stop().fadeTo('fast', 1); //<----fadeIn the current obj
      }
   });
});
