<%= simple_form_for(@company) do |f| %>
  <%= f.error_notification %>


  <div class="form-inputs formclass">
    <%= f.input :name %>
    <%= f.input :category %>
    <%= f.input :description %>
    <%= f.input :address1 %>
    <%= f.input :address2 %>
    <%= f.input :website %>
  </div>

  <div class="form-actions formclass">
    <%= f.button :submit %>
  </div>
<% end %>
