<!-- 


<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br> -->
<!-- <br> -->
<%= render 'header' %>
<div class = "scrollblock" id="test">
<div id = "center">
<h1 >ATX Tech</h1>
<h2> A listing of technology companies located in Austin, TX. </h2>
<h4 class = "pink"> Total Companies Listed: <%= Company.all.length %> </h3>
</div>
</div>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div class = "center">
<table>
  <tr class = "fixed">
    <th class = "inner"><%= link_to "Name", :sort=> "name" %></th>
    <th class = "inner"><%= link_to "Category", :sort=>"category" %></th>
    <th class = "inner"><%= link_to "Description", :sort=>"description" %></th>
    <th class = "inner"><%= link_to "Website", :sort=>"website" %></th>
  </tr>
    <tr class = "fixed">
    <th class = "inner"><p></p></th>
    <th class = "inner"><p></p> </th>
    <th class = "inner"><p></p></th>
    <th class = "inner"><p></p></th>
</tr>
  <tr>
    <th class = "inner2"><p></p></th>
    <th class = "inner2"><p></p> </th>
    <th class = "inner2"><p></p></th>
    <th class = "inner2"><p></p></th>
</tr>
  <tr>
    <th class = "inner2"></th>
    <th class = "inner2"></th>
    <th class = "inner2"></th>
    <th class = "inner2"></th>
</tr>

<% @companies.each do |company| %>
  <tr>
    <td><%= company.name %></td>
    <td><%= company.category %></td>
    <td><%= company.description %></td>
    <td><%= link_to company.website, company.website %></td>
<!--     <td><%= link_to 'Show', company %></td>
    <td><%= link_to 'Edit', edit_company_path(company) %></td>
    <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
  </tr>
<% end %>
</table>

</div>



// <script>
// $(window).bind('scroll', function(){
// if($(this).scrollTop() > 200) {
// $("#theTab").show();
// }
// });
// </script>
// <script>
$(document).ready (function () {
// $("table tr:first").css("position", "fixed", "text-align", "center");
$(window).scroll(function () {
   $('td').each(function () { // <---loop the divs id starts with #box 
       if (($(this).offset().top - $(window).scrollTop()) < 470) { //<---mark the $(this).offset().top of current object
          $(this).stop().fadeTo(100, 0); //<----fadeOut the current obj
      } else {
          $(this).stop().fadeTo('fast', 1); //<----fadeIn the current obj
        }
   });
});
});



// $(window).scroll(function () {
//    $('[id^="box"]').each(function () { // <---loop the divs id starts with #box 
//       if (($(this).offset().top - $(window).scrollTop()) < 1000) { //<---mark the $(this).offset().top of current object
//           $(this).stop().fadeTo(100, 0); //<----fadeOut the current obj
//       } else {
//           $(this).stop().fadeTo('fast', 1); //<----fadeIn the current obj
//       }
//    });
// });


</script>