

<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>


<div class = "scrollblock" id="test">
<div id = "center">
<h1 >ATX Tech</h1>
<h2> A listing of technology companies located in Austin, TX. </h2>
<h3> Wanna add your company? Click <%=link_to "here", new_company_path %></h3>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<p class="list"> Need to Add..<p>
<ul>
    <li class="strike">Sorting by Category</li>
    <li>Javascript - Hover Effects</li>
    <li class = "strike">Fixed Background</li>
    <li class = "strike">Meetup API Integration?</li>
</ul>
<hr>
<p> <form><select name="select"><option>Category></option><option>Category 2</option></select></form>


<table>
  <tr>
    <th><%= link_to "Name", :sort=> "name" %></th>
    <th><%= link_to "Category", :sort=>"category" %></th>
    <th><%= link_to "Description", :sort=>"description" %></th>
    <th><%= link_to "Address #1", :sort=>"address1" %>Address1</th>
    <th><%= link_to "Address #2", :sort=>"address2" %></th>
    <th><%= link_to "Website", :sort=>"website" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><%= company.name %></td>
    <td><%= company.category %></td>
    <td><%= company.description %></td>
    <td><%= company.address1 %></td>
    <td><%= company.address2 %></td>
    <td><%= link_to company.website, company.website %></td>
    <td><%= link_to 'Show', company %></td>
    <td><%= link_to 'Edit', edit_company_path(company) %></td>
    <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


<script>
$(window).bind('scroll', function(){
if($(this).scrollTop() > 200) {
$("#theTab").show();
}
});
</script>


<!-- if ($('body').scrollTop() > 100) { $('h1').first().show() }

$($'body')

While a user scroll
for each element
if element position is 500
element is faded out

 -->

