<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Category:</b>
  <%= @company.category %>
</p>

<p>
  <b>Description:</b>
  <%= @company.description %>
</p>

<p>
  <b>Address1:</b>
  <%= @company.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @company.address2 %>
</p>

<p>
  <b>Website:</b>
  <%= @company.website %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
